.content{
    width: 100%;
    height: 100%;
    margin: 42px 0px;
}
.border{
    color: #00000029;
}
.table td, .table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.border1{
    padding: 0px;
}
.centrecontent{
    padding: 40px 40px 15px 40px;
}
.secondhalf{
    padding: 0px 40px;
}
.headerline{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.tablehead{
    background-color: #005E9C;
    color: white;
    border-radius: 5px;
}
.ctc-table-secondhalf{
    padding: 5px 0px 0px 0px;
}
.table{
    border-radius: 5px;
}
.table-edit-icon{
    padding: 0px 10px 0px 14px;
    cursor: pointer;
}
.table-delete-delete{
    padding: 0px 0px 0px 0px;
    cursor: pointer;
}
.table-data-icon{
    display: flex;
}
.table1{
    /* height: 240px; */
}
.table-head{
    font-size: 12px;
}
.table-data{
    font-size: 12px;
}
.addrolebtn{
    padding-right: 4px;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  .callRecordHeader{
      background: #E9F7FA;
      display: flex;
      padding: 10px;
  }
  .recordsDropdown{
      padding: 10px;
  }
  .recordsTextbox{
    padding: 10px;
}
.inputPart{
    /* display: flex; */
}
.dropzone{
    height: 3.7em;
    border: 0.12rem dashed #818181;
    border-radius: 5px;
    background-color: white;
    /* height: 55px; */
}
.dragAndDropPart{
    padding: 10px 77px 5px 50px;
}
.browse{
    color: #365FEB;
}
.docImage{
    background: transparent url('../images/document.png') 0% 0% no-repeat padding-box;
    height: 10px;
    width: 10px;
    height: 36px;
    width: 32px;
    /* background-size: contain; */
    /* height: 1em;
    width: 1em;
opacity: 1; */
}
.dropFont{
    font-size: 11px;
    /* padding: 13px 135px; */
    text-align: center;
    height: 50px;
    vertical-align: middle;
line-height: 50px;
display: flex;
    justify-content: center;
}
.textDropzone{
    text-align: center;
    color: #365FEB;
    font-size: 12px;
}
.textDropzoneFile{
    display: flex;
    margin-top: 4px;
    display: grid;
    grid-template-columns: repeat( 2, minmax(250px, 1fr) );
    font-size: 10px;
    
}
.fileDisplay{
    margin: 2px;
    border: 1px solid #DEDEDE;
    background: white;
    display: flex;
    margin-right: 5px;
    width: 220px;
    height: 21px;
    border-radius: 3px;
    box-shadow: 0px 4px 12px #00000029;
    height: auto;
}
.file-remove{
    color: white;
    border: 0px solid black;
    background: red;
    border-radius: 8px;
    text-align: center;
    font-size: 10px;
    height: 14px;
    width: 13px;
    margin-top: 2px;
    position: absolute;
    right: 5px;
    bottom: 3px;
}
.fileName{
    padding-right: 5px;
    display: flex;
    font-weight: bold;
}
/* .dispFileName{
    display: flex;
    margin-top: 4px;
} */
.recordValidationbtn{
    margin: 10px;
    padding: 7px 0px 0px 0px;
}
.middlehalf{
    padding: 0px 40px;
}
.mainAlertBox{
    display: flex;
    justify-content: center;
    color: #0c5460;
    background-color: #d1ecf1;
    border-radius: 0px;
    margin-bottom: 1rem;
    border: 1px solid #2DA10F ;
    padding: 6px 0px 0px 0px;
}
.mainAlertBoxError{
    display: flex;
    justify-content: space-between;
    color: #0c5460;
    background-color: #FFEFD9;
    border-radius: 0px;
    margin-bottom: 1rem;
    border: 1px solid #ED1C24;
    padding: 6px 64px 0px 40px;
}
.alertBox{
    color: #2DA10F;
}
.alertBoxError{
    display: grid;
    color: #FF0000;
}
.alertBox1{
    margin: 0px 0px 0px 204px;
}
.adjust{
    display: flex;
}
.alertFont1{
    font-size: 13px;
}
.alertFont3{
    font-size: 11px;
}
.alertFont2{
    font-size: 13px;
    color: black;
}
@media only screen and (max-width: 320px) {
    .table-head{
        font-size: 10px;
    }
    .table-data{
        font-size: 10px;
    }
    .addRole-table-head{
        font-size: 10px;
    }
    .addRole-table-data{
        font-size: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .callRecordHeader {
        display: block;
    }  
    .dragAndDropPart {
        padding: 10px 9px 5px 9px;
    }
}
@media only screen and (max-width: 426px) {
    .callRecordHeader {
        display: block;
    }  
    .dragAndDropPart {
        padding: 10px 9px 5px 9px;
    }
}
