.Four04Container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(4, min-content);
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}

.Four04Text {
    color: #F2F2F2;
    font: normal 125px/100px Sans-serif;
}

.title {
    color: #53536B;
    font: 300 48px/80px Sans-serif;
    letter-spacing: 0px;
}

.subtitle {
    font: normal 18px/24px Sans-serif;
    letter-spacing: 0px;
    text-justify: distribute-all-lines;
}