@media only screen and (max-width: 500px) {
    .resetOuterContainer {
        grid-template-areas: "resetInnerContainer";
        grid-template-columns: 1fr;
    }
    #bgImage {
        display: none;
    }
    .resetForm {
        padding: 10% 10% 5% 10%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1200px) {
    .resetOuterContainer {
        grid-template-areas: "resetInnerContainer";
        grid-template-columns: 1fr;
    }
    #bgImage {
        display: none;
    }
    .resetForm {
        padding: 10% 10% 5% 10%;
    }
}

@media only screen and (min-width: 1201px) {
    .resetOuterContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "bgImage resetInnerContainer";
    }
    .resetForm {
        padding: 0 15%;
    }
}

.resetOuterContainer {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
}

.logo {
    grid-area: logo;
    font: Bold 35px/21px Sans-serif;
    letter-spacing: 7px;
    color: #43425D;
    margin: 0;
    opacity: 0.95;
    text-align: center;
    align-self: center;
}

.tagline {
    grid-area: tagline;
    font: normal 18px/13px Sans-serif;
    letter-spacing: 0px;
    color: #4D4F5C;
    margin: 0;
    opacity: 0.5;
    text-align: center;
}

#bgImage {
    background: transparent url('../images/waves.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 100% 100%;
}

.resetInnerContainer {
    grid-area: resetInnerContainer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
}

.resetForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 58px 80px 70px 50px;
    grid-template-areas: "logo" "tagline" "emailID" "signup";
    align-self: center;
}

.signupBtn {
    margin: 0 30%;
}

.signInContainer {
    grid-area: signin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: flex-start;
    justify-self: center;
}

.signIn {
    background: none;
    border: none;
    color: #43425D;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-align: right;
    font: normal 15px/25px Sans-serif;
}

.termsOfUseContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-content: flex-end;
    align-self: flex-end;
}

.termsOfUse {
    background: none;
    border: none;
    color: #43425D;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    justify-self: center;
    font: normal 15px/25px Sans-serif;
}