.hoverContainer {
    display: grid;
    position: fixed;
    z-index: 1;
    align-items: center;
    justify-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}