.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepContainer {
    display: grid;
    grid-template-columns: 60px;
    grid-template-rows: 50px 1fr;
    justify-items: center;
    align-self: flex-start;
}

.step {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: #3B86FF;
    color: white;
}

.stepText {
    color: #4D4F5C;
    font: normal 13px/20px Sans-serif;
    letter-spacing: 0;
}

.bar {
    background-color: #3B86FF;
    height: 1px;
    width: 100%;
    align-self: flex-start;
    margin-top: 20px;
}